@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700');

$font-stack-1: 'Alegreya Sans', sans-serif;
$font-stack-2: 'Traveling _Typewriter';
$clr-red: #D34630;
$clr-green: #2A4343;
$clr-link: #D34630;
$clr-black: #373737;
$clr-title-text: #2A4343;


* {
    box-sizing: border-box;
}

%text-shared {
    font-size: 18px;
    color: $clr-black;
    font-family: $font-stack-1;
    font-weight: 400;
    line-height: 21px;
}

body {
    @extend %text-shared;
    background-image: url('img/bg-gradient.png');
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

a, a:hover {
    @extend %text-shared;
    color: $clr-link;
}


/***** MENU *****/
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}