@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500, 700');

$font-stack-1: 'Alegreya Sans', sans-serif;
$font-stack-2: 'Traveling _Typewriter';
$font-stack-3: 'Book Antiqua';
$clr-red: #D34630;
$clr-green: #2A4343;
$clr-link: #D34630;
$clr-black: #373737;
$clr-white: #fff;
$clr-light-yellow: #FFFBF1;
$clr-title-text: #2A4343;
$clr-placeholder: #7F7F7F;


* {
    box-sizing: border-box;
}

%text-shared {
    font-size: 18px;
    color: $clr-black;
    font-family: $font-stack-1;
    font-weight: 400;
    line-height: 21px;
}

body {
    @extend %text-shared;
    background-image: url('img/bg-gradient.png');
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

.text-body-2 {
    @extend %text-shared;
    color: $clr-green;
}

a, a:hover {
    color: $clr-link;
}

%text-title-shared {
    font-family: $font-stack-2;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 26px;
    color: $clr-title-text;
    text-transform: uppercase; 
}

.text-title {
    @extend %text-title-shared;
}

.text-title-normal {
    @extend %text-title-shared;
    line-height: 36px;
    text-transform: none;
}

%text-nav {
    font-family: $font-stack-3;
    font-size: 22px;
    color: $clr-green;
}

.text-nav-caps-1 {
    @extend %text-nav;
    font-size: 30px;
}

.text-nav-caps-2 {
    @extend %text-nav;
    font-size: 30px;
    color: $clr-red;
}

.text-nav-normal-1 {@extend %text-nav;}
.text-nav-normal-2 {@extend %text-nav; color: $clr-red;}

.text-medium {font-weight: 500;}

.card {
    border-radius: 0rem;
    background-color: $clr-light-yellow;
    border: 0;
    position: relative;
    width: 100%;
}

%custom-box-shared {
    height: 540px;
    width: 100%;
    padding: 30px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
.custom-box-1 {
    height: 540px;
    width: 100%;
    padding: 30px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.custom-box-2 {
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    width: 100%; 
    min-height: 310px;
    height: auto;
    padding: 10px;
}

.custom-bg {
    background-color: $clr-light-yellow;
}

.c-bottom {
    position: absolute;
    bottom: 0; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.c-top {
    position: absolute;
    top: 0; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
    background-color: $clr-red;
    border-color: $clr-red!important;
    border-radius: 0px;
    color: $clr-white;
    font-family: $font-stack-1;
    font-weight: 400;
    font-size: 18px;
    height: 48px;
    line-height: 21px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
}

.input-group-append .btn {z-index: 0;}
.custom-btn, .custom-btn:hover {
    background-color: $clr-red;
    color: $clr-white;
    height: 48px;
    border-color: $clr-red;
    border-radius: 0rem;
}

.form-control{
    height: 48px;
    border: none;
    border-radius: 0rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $clr-placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $clr-placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $clr-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
    color: $clr-placeholder;
}

/***** MENU *****/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F7F3E1;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 48px;
    line-height: 72px;
    color: $clr-black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: $clr-green;
    opacity: 0.9;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 767px) { 
    .r-text-c {text-align: center!important;} 
    .r-margin-0 {margin-top: 40px;}
}

    